body {
  font-family: verdana;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

.login {
  height: calc(100vh - 146px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 70%;
  height: 75%;
  -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.left,.right{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.or{
  border: 2px solid lightgray;
  border-radius: 50%;
  padding: 10px;
  color: gray;
  background-color: white;
  font-weight: bold;
}

.line{
  width: 0.5px;
  height: 70%;
  background-color: lightgray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.loginButton{
  width: 150px;
  height: 30px;
  padding: 5px 25px;
  border-radius: 3px;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.google{
  background-color: #4285F4;
}
.facebook{
  background-color: #507cc0;
}
.github{
  background-color: black;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

input {
  width: 200px;
  padding: 15px 20px;
  margin-bottom: 20px;
  margin-right: 1rem;
}

.submit {
  width: 200px;
  background-color: "434242";
  color: black;
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.loginTitle {
  position: absolute;
  top:160px;
  color:lightgray
}

.profile-img {
  height: 10rem;
  width: 10rem;
  border-radius: 3px;
  padding-right: 1rem;
}

.profile-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  height: 18rem;
  width: 30rem;
}

#pet-profile-card {
  height: 15rem;
  width: 30rem;
}

.profile-info {
  display: flex;
  flex-direction: row;
}

/* hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
} */

#update-button-div {
  display: flex;
  flex-direction: row;
}

#edit-account-conatiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#edit-button {
  height: 3rem;
  width: 11rem;
  border-radius: 20px;
  background-color: blue;
  color: white;
  border: none;
  font-size: 15;
}

#first-last {
  display: flex;
  flex-direction: row;
}

.inputPair {
  display: flex;
  flex-direction: column;
}

#email-phone {
  display: flex;
  flex-direction: row;
}

.signupLink {
  position: absolute;
  bottom:150px;
  color:lightgray
}

a {
  text-decoration: none
}

.signup {
  height: calc(100vh - 146px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupTitle {
  position: absolute;
  top:180px;
  color:lightgray
}

.steps{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nums{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.stepnum{
  width: 20px;
  height: 20px;
  margin: auto;
  border-radius: 50%;
  border: 1px solid lightgray;
  padding: 10px;
  color: gray;
  background-color: white;
  font-weight: bold;
  position: relative;
}

.num {
  width: 10px;
  height: 10px;
  font-size: 20;
  background-color: white;
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -7px; /* Apply negative top and left margins to truly center the element */
}

.stepline{
  width: 70%;
  height: 0.5px;
  background-color: lightgray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

label {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  margin-top: 10px;
}

.controls {
  width: auto;
  height: 15%;
  padding: 0.5rem;
  background: #2a86c7;
  opacity: 0.8;
  color: #fff
}

.controls input{
  border: none;
}

.map-container{
  width: 100%;
  height: calc(100vh - 123px);
}

.map{
  width: 100%;
  height: 50%;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
  margin: 0;
  border-radius: 3px
}

.address-option {
  background-color: #2a86c7;
}

.addressselect {
  cursor: pointer;
}

.highlight {
  font-size: 1.25rem;
  font-weight: bold;
}